apiVersion: apps/v1
kind: Deployment
metadata:
  name: shopping-plants-app
  namespace: shopping-plants-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: shopping-plants-app
  template:
    metadata:
      labels:
        app: shopping-plants-app
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
